/* MDBReact took this out for some reason */

.amber-text.text-darken-2 {
  color: #ffa000 !important;
}

.deep-orange-text.text-accent-4 {
  color: #bf360c !important;
}

.grey-text.text-lighten-4 {
  color: #f5f5f5 !important;
}

.grey-text.text-lighten-3 {
  color: #eeeeee !important;
}
