@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');

body {
  margin: 0;
  font-family: 'Mukta', 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.big-icon {
  font-size: 20vw;
}

.c-pointer {
  cursor: pointer;
}

.img-disabled {
  filter: brightness(40%);
}
